{% extends 'base.html.twig' %}


{% block title %}Erreur
{% endblock %}


{% block body %}
    <div class="row">
      <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <p>Erreur.</p>
            </div>
        </div>
    </div>
{% endblock %}
