{% extends 'base.html.twig' %}

{% block title %}Commande validée
{% endblock %}


{% block body %}
    <div class="row">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <h2>Merci {{  app.user.email }}</h2>
                <p>Commande numéro {{ order.id }} }} validée.</p>
            </div>
        </div>
    </div>
{% endblock %}
